# Leukemia Diagnosis

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# load data
url1 = 'https://raw.githubusercontent.com/um-perez-alvaro/lin-regress/master/14cancer.xtrain'
url2 = 'https://raw.githubusercontent.com/um-perez-alvaro/lin-regress/master/14cancer.xtest'

data_train = pd.read_csv(url1,sep = '\s+',header = None)
data_train = data_train.T

data_test = pd.read_csv(url2,sep = '\s+',header = None)
data_test = data_test.T

data_train.head(5) #show first 10 rows of data_train

,0,1,2,3,4,5,6,7,8,9,...,16053,16054,16055,16056,16057,16058,16059,16060,16061,16062
0,-73.0,-69.0,-48.0,13.0,-86.0,-147.0,-65.0,-71.0,-32.0,100.0,...,-134.0,352.0,-67.0,121.0,-5.0,-11.0,-21.0,-41.0,-967.0,-120.0
1,-16.0,-63.0,-97.0,-42.0,-91.0,-164.0,-53.0,-77.0,-17.0,122.0,...,-51.0,244.0,-15.0,119.0,-32.0,4.0,-14.0,-28.0,-205.0,-31.0
2,4.0,-45.0,-112.0,-25.0,-85.0,-127.0,56.0,-110.0,81.0,41.0,...,14.0,163.0,-14.0,7.0,15.0,-8.0,-104.0,-36.0,-245.0,34.0
3,-31.0,-110.0,-20.0,-50.0,-115.0,-113.0,-17.0,-40.0,-17.0,80.0,...,26.0,625.0,18.0,59.0,-10.0,32.0,-2.0,10.0,-495.0,-37.0
4,-33.0,-39.0,-45.0,14.0,-56.0,-106.0,73.0,-34.0,18.0,64.0,...,-69.0,398.0,38.0,215.0,-2.0,44.0,3.0,68.0,-293.0,-34.0

In [4]:
url1 = 'https://raw.githubusercontent.com/um-perez-alvaro/lin-regress/master/14cancerlabels.ytrain'
url2 = 'https://raw.githubusercontent.com/um-perez-alvaro/lin-regress/master/14cancer.ytest'

labels_train = pd.read_csv(url1,sep='\s+',header = None)
labels_train = labels_train.T

labels_test = pd.read_csv(url2,sep='\s+',header = None)
labels_test = labels_test.T

labels_train.head(5)

   0
0  1
1  1
2  1
3  1
4  1

In [9]:
labels_test.head(5)

   0
0  1
1  1
2  1
3  2
4  2

In [6]:
labels = ['gene '+str(i) for i in range(16063)]
data_train.columns = labels
data_train.head(1)

,gene 0,gene 1,gene 2,gene 3,gene 4,gene 5,gene 6,gene 7,gene 8,gene 9,...,gene 16053,gene 16054,gene 16055,gene 16056,gene 16057,gene 16058,gene 16059,gene 16060,gene 16061,gene 16062
0,-73.0,-69.0,-48.0,13.0,-86.0,-147.0,-65.0,-71.0,-32.0,100.0,...,-134.0,352.0,-67.0,121.0,-5.0,-11.0,-21.0,-41.0,-967.0,-120.0

In [7]:
data_train['label'] = labels_train
data_train.head(1)

,gene 0,gene 1,gene 2,gene 3,gene 4,gene 5,gene 6,gene 7,gene 8,gene 9,...,gene 16054,gene 16055,gene 16056,gene 16057,gene 16058,gene 16059,gene 16060,gene 16061,gene 16062,label
0,-73.0,-69.0,-48.0,13.0,-86.0,-147.0,-65.0,-71.0,-32.0,100.0,...,352.0,-67.0,121.0,-5.0,-11.0,-21.0,-41.0,-967.0,-120.0,1

In [8]:
data_test.columns = labels
data_test['label'] = labels_test
data_test.head(1)

,gene 0,gene 1,gene 2,gene 3,gene 4,gene 5,gene 6,gene 7,gene 8,gene 9,...,gene 16054,gene 16055,gene 16056,gene 16057,gene 16058,gene 16059,gene 16060,gene 16061,gene 16062,label
0,-44.0,-254.0,-166.0,-55.0,-130.0,-133.0,80.0,-62.0,1.0,22.0,...,715.0,25.0,47.0,-270.0,-265.0,-290.0,-235.0,-826.0,-262.0,1

In [10]:
data_train.to_csv('leukemia.csv', index=False)
data_test.to_csv('leukemia_test.csv', index=False)

In [11]:
X_train = data_train.to_numpy()
X_test = data_test.to_numpy()
y_train = labels_train.iloc[:,0].to_numpy()
y_test = labels_test.iloc[:,0].to_numpy()

In [12]:
y_leuk_train = np.zeros(len(y_train))

In [13]:
y_train.shape

(144,)

In [14]:
y_leuk_train[y_train==9] = 1

## Regularized regression

In [15]:
# no regularization; the matrix X.T.dot(X) is not invertible

In [19]:
M = X_train.T.dot(X_train)
M.shape

(16063, 16063)

In [21]:
b = X_train.T.dot(y_leuk_train)

In [22]:
theta = np.linalg.solve(M,b)

LinAlgError: Singular matrix

In [76]:
# regularized regression
C = 1e-4
theta = np.linalg.solve(M+C*np.identity(16063),b)

In [77]:
y_leuk_test = np.zeros(len(y_test))
y_leuk_test[y_test==9] = 1

In [78]:
y_leuk_test_pred = X_test.dot(theta)

In [79]:
y_leuk_test_pred[y_leuk_test_pred>=0.5] = 1
y_leuk_test_pred[y_leuk_test_pred<0.5] = 0

In [80]:
'confusion matrix'
C = np.zeros((2,2))
for i in range(2):
    for j in range(2):
        C[i,j] = sum(y_leuk_test_pred[y_leuk_test==i]==j)

In [81]:
C

array([[48.,  0.],
       [ 1.,  5.]])