In [2]:
import pandas as pd
import numpy as np

# Problem 2: Joke Recommendations

In this problem, we will build two recommender systems to recommend jokes to users. 
We'll be using the Jester Dataset, which is available [here](http://eigentaste.berkeley.edu/dataset/).

In [25]:
ratings = pd.read_csv('jester2.csv', header=None)
ratings.head()

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,50,99.00,8.11,99.00,99.0,-2.28,-4.22,5.49,-2.62,99.00,...,99.00,99.0,99.00,99.00,99.00,-5.92,99.0,99.00,99.00,99.00
1,100,-4.37,-3.88,0.73,-3.2,-6.41,1.17,7.82,-4.76,-6.41,...,5.73,-6.7,1.99,2.62,-0.49,3.45,3.2,-0.53,-0.53,-2.96
2,42,99.00,99.00,99.00,99.0,0.73,99.00,5.53,3.25,99.00,...,99.00,99.0,99.00,99.00,3.16,99.00,99.0,99.00,99.00,99.00
3,65,0.34,-6.55,2.86,99.0,-3.64,1.12,5.34,2.33,99.00,...,99.00,99.0,99.00,99.00,99.00,99.00,99.0,99.00,99.00,99.00
4,37,99.00,99.00,99.00,99.0,9.13,99.00,-9.32,-2.04,99.00,...,99.00,99.0,99.00,99.00,99.00,99.00,99.0,99.00,99.00,99.00

In [26]:
ratings.drop(0, axis=1, inplace=True)
ratings.head()

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
0,99.00,8.11,99.00,99.0,-2.28,-4.22,5.49,-2.62,99.00,-2.28,...,99.00,99.0,99.00,99.00,99.00,-5.92,99.0,99.00,99.00,99.00
1,-4.37,-3.88,0.73,-3.2,-6.41,1.17,7.82,-4.76,-6.41,0.73,...,5.73,-6.7,1.99,2.62,-0.49,3.45,3.2,-0.53,-0.53,-2.96
2,99.00,99.00,99.00,99.0,0.73,99.00,5.53,3.25,99.00,99.00,...,99.00,99.0,99.00,99.00,3.16,99.00,99.0,99.00,99.00,99.00
3,0.34,-6.55,2.86,99.0,-3.64,1.12,5.34,2.33,99.00,2.33,...,99.00,99.0,99.00,99.00,99.00,99.00,99.0,99.00,99.00,99.00
4,99.00,99.00,99.00,99.0,9.13,99.00,-9.32,-2.04,99.00,99.00,...,99.00,99.0,99.00,99.00,99.00,99.00,99.0,99.00,99.00,99.00

In [29]:
ratings.replace(99,np.nan, inplace=True)

In [30]:
ratings

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
0,NaN,8.11,NaN,NaN,-2.28,-4.22,5.49,-2.62,NaN,-2.28,...,NaN,NaN,NaN,NaN,NaN,-5.92,NaN,NaN,NaN,NaN
1,-4.37,-3.88,0.73,-3.20,-6.41,1.17,7.82,-4.76,-6.41,0.73,...,5.73,-6.70,1.99,2.62,-0.49,3.45,3.20,-0.53,-0.53,-2.96
2,NaN,NaN,NaN,NaN,0.73,NaN,5.53,3.25,NaN,NaN,...,NaN,NaN,NaN,NaN,3.16,NaN,NaN,NaN,NaN,NaN
3,0.34,-6.55,2.86,NaN,-3.64,1.12,5.34,2.33,NaN,2.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,9.13,NaN,-9.32,-2.04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23495,-9.95,4.85,-9.95,-8.25,1.41,-1.75,3.11,3.79,-7.38,-5.92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23496,-0.78,1.31,-2.09,-0.78,4.71,0.19,3.06,-1.31,-9.76,9.13,...,0.29,-0.92,0.53,2.14,2.48,1.02,2.57,1.02,-0.29,0.78
23497,NaN,NaN,NaN,NaN,6.12,NaN,5.78,-5.53,NaN,7.72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23498,1.02,2.77,7.09,0.05,1.26,1.41,2.62,0.49,5.19,6.55,...,7.82,1.07,4.27,3.35,0.63,2.38,2.62,2.57,1.94,3.98
23499,NaN,NaN,NaN,NaN,9.17,NaN,-9.90,2.48,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
ratings.columns = ['joke '+str(i) for i in range(100)]
ratings

,joke 0,joke 1,joke 2,joke 3,joke 4,joke 5,joke 6,joke 7,joke 8,joke 9,...,joke 90,joke 91,joke 92,joke 93,joke 94,joke 95,joke 96,joke 97,joke 98,joke 99
0,NaN,8.11,NaN,NaN,-2.28,-4.22,5.49,-2.62,NaN,-2.28,...,NaN,NaN,NaN,NaN,NaN,-5.92,NaN,NaN,NaN,NaN
1,-4.37,-3.88,0.73,-3.20,-6.41,1.17,7.82,-4.76,-6.41,0.73,...,5.73,-6.70,1.99,2.62,-0.49,3.45,3.20,-0.53,-0.53,-2.96
2,NaN,NaN,NaN,NaN,0.73,NaN,5.53,3.25,NaN,NaN,...,NaN,NaN,NaN,NaN,3.16,NaN,NaN,NaN,NaN,NaN
3,0.34,-6.55,2.86,NaN,-3.64,1.12,5.34,2.33,NaN,2.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,9.13,NaN,-9.32,-2.04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23495,-9.95,4.85,-9.95,-8.25,1.41,-1.75,3.11,3.79,-7.38,-5.92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23496,-0.78,1.31,-2.09,-0.78,4.71,0.19,3.06,-1.31,-9.76,9.13,...,0.29,-0.92,0.53,2.14,2.48,1.02,2.57,1.02,-0.29,0.78
23497,NaN,NaN,NaN,NaN,6.12,NaN,5.78,-5.53,NaN,7.72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23498,1.02,2.77,7.09,0.05,1.26,1.41,2.62,0.49,5.19,6.55,...,7.82,1.07,4.27,3.35,0.63,2.38,2.62,2.57,1.94,3.98
23499,NaN,NaN,NaN,NaN,9.17,NaN,-9.90,2.48,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
ratings.index.name = 'user'

In [6]:
jokes = pd.read_csv('JokeText.csv', index_col = 'JokeId', squeeze=True)
jokes

JokeId
0     A man visits the doctor. The doctor says "I ha...
1     This couple had an excellent relationship goin...
2     Q. What's 200 feet long and has 4 teeth? \n\nA...
3     Q. What's the difference between a man and a t...
4     Q.\tWhat's O. J. Simpson's Internet address? \...
                            ...
95    Two attorneys went into a diner and ordered tw...
96    A teacher is explaining to her class how diffe...
97    Age and Womanhood\n\n1. Between the ages of 13...
98    A bus station is where a bus stops.\nA train s...
99    Q: Whats the difference between greeting a Que...
Name: JokeText, Length: 100, dtype: object

In [12]:
print(jokes[74])

Q: Do you know the difference between an intelligent male and the
Sasquatch?

A: There have been actual reported sightings of the Sasquatch.