In [93]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Problem 2: Jokes Recommendations

In this problem, we will build two recommender systems to recommend jokes to users. 
We'll be using the Jester Dataset (which is available [here](http://eigentaste.berkeley.edu/dataset/)).

The *jester.csv* file has data from 23,500 users who have rated 36 or more jokes. 
Ratings are real values ranging from -10.00 to +10.00.

In [42]:
# load the data
url = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Theory/master/Data/jester.csv'
ratings_matrix = pd.read_csv(url, index_col = 'user').T
ratings_matrix

user,0,1,2,3,4,5,6,7,8,9,...,23490,23491,23492,23493,23494,23495,23496,23497,23498,23499
joke 0,NaN,-4.37,NaN,0.34,NaN,NaN,3.50,-7.67,1.02,3.64,...,0.83,-0.58,NaN,-2.38,9.27,-9.95,-0.78,NaN,1.02,NaN
joke 1,8.11,-3.88,NaN,-6.55,NaN,NaN,2.28,7.14,6.07,1.60,...,4.27,-4.22,8.74,-1.12,8.79,4.85,1.31,NaN,2.77,NaN
joke 2,NaN,0.73,NaN,2.86,NaN,NaN,3.01,-6.31,6.65,-0.39,...,-2.23,2.04,NaN,-0.92,-5.58,-9.95,-2.09,NaN,7.09,NaN
joke 3,NaN,-3.20,NaN,NaN,NaN,NaN,-0.63,NaN,-0.87,3.74,...,-2.14,-6.02,NaN,-2.04,9.27,-8.25,-0.78,NaN,0.05,NaN
joke 4,-2.28,-6.41,0.73,-3.64,9.13,-1.46,4.95,-9.32,6.80,-6.36,...,-1.80,-9.76,1.17,-7.77,8.74,1.41,4.71,6.12,1.26,9.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
joke 95,-5.92,3.45,NaN,NaN,NaN,NaN,2.28,NaN,5.92,1.02,...,NaN,3.40,NaN,NaN,NaN,NaN,1.02,NaN,2.38,NaN
joke 96,NaN,3.20,NaN,NaN,NaN,NaN,5.05,1.60,-6.60,4.17,...,NaN,-0.53,NaN,NaN,NaN,NaN,2.57,NaN,2.62,NaN
joke 97,NaN,-0.53,NaN,NaN,NaN,NaN,4.51,NaN,0.24,-6.55,...,NaN,-7.28,NaN,NaN,NaN,NaN,1.02,NaN,2.57,NaN
joke 98,NaN,-0.53,NaN,NaN,NaN,NaN,4.08,NaN,9.08,-8.93,...,NaN,-7.52,NaN,NaN,NaN,NaN,-0.29,NaN,1.94,NaN
joke 99,NaN,-2.96,NaN,NaN,NaN,NaN,2.96,NaN,8.98,-9.42,...,NaN,0.63,NaN,NaN,NaN,NaN,0.78,NaN,3.98,NaN

The *JokeText.csv* contains the text for each of the 100 jokes

In [45]:
url = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Theory/master/Data/JokeText.csv'
jokes = pd.read_csv(url, index_col = 'JokeId', squeeze = True)
jokes

JokeId
0     A man visits the doctor. The doctor says "I ha...
1     This couple had an excellent relationship goin...
2     Q. What's 200 feet long and has 4 teeth? \n\nA...
3     Q. What's the difference between a man and a t...
4     Q.\tWhat's O. J. Simpson's Internet address? \...
                            ...
95    Two attorneys went into a diner and ordered tw...
96    A teacher is explaining to her class how diffe...
97    Age and Womanhood\n\n1. Between the ages of 13...
98    A bus station is where a bus stops.\nA train s...
99    Q: Whats the difference between greeting a Que...
Name: JokeText, Length: 100, dtype: object

In [47]:
print(jokes[0])

A man visits the doctor. The doctor says "I have bad news for you.You have
cancer and Alzheimer's disease".
The man replies "Well,thank God I don't have cancer!"

In [48]:
print(jokes[5])

Bill & Hillary are on a trip back to Arkansas. They're almost out of gas, so Bill pulls into a service station on the outskirts of
town. The attendant runs out of the station to serve them when Hillary realizes it's an old boyfriend from high school. She and
the attendant chat as he gases up their car and cleans the windows. Then they all say good-bye.

As Bill pulls the car onto the road, he turns to Hillary and says, 'Now aren't you glad you married me and not him ? You could've
been the wife of a grease monkey !'

To which Hillary replied, 'No, Bill. If I would have married him, you'd be pumping gas and he would be the President !'

In [49]:
print(jokes[20])

What's the difference between a used tire and 365 used condoms?

One's a Goodyear, the other's a great year.

In [50]:
print(jokes[99])

Q: Whats the difference between greeting a Queen and greeting the
President of the United  States?

A: You only have to get on one knee to greet the queen.

## Part 1: create a 'fake user'

Run the following code

In [56]:
pd.Series(index = ratings_matrix.index, name='fake user').to_csv('fake_user.csv')

C:\Users\javier.perez-alvaro\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Open the *fake_user.csv* file, and rate some jokes (you can find the text of each joke in the jokes dataframe). 
Your ratings must range from -10.00 to +10.00.

Then, run the following code

In [66]:
fake_user = pd.read_csv('fake_user.csv', index_col=0).squeeze()
fake_user

joke 0      NaN
joke 1     10.0
joke 2      NaN
joke 3      NaN
joke 4      NaN
           ...
joke 95    -8.0
joke 96     NaN
joke 97     NaN
joke 98     NaN
joke 99   -10.0
Name: fake user, Length: 100, dtype: float64

## Part 2: user-based recommendations

Use the user-based recommendation model to find the top-5 recommendations.

## Part 3: matrix-factorization-based recommendations

Use the matrix factorization-based recommendations to find the top-5 recommendations.

,joke 0,joke 1,joke 2,joke 3,joke 4,joke 5,joke 6,joke 7,joke 8,joke 9,...,joke 90,joke 91,joke 92,joke 93,joke 94,joke 95,joke 96,joke 97,joke 98,joke 99
user,,,,,,,,,,,,,,,,,,,,,
0,NaN,8.11,NaN,NaN,-2.28,-4.22,5.49,-2.62,NaN,-2.28,...,NaN,NaN,NaN,NaN,NaN,-5.92,NaN,NaN,NaN,NaN
1,-4.37,-3.88,0.73,-3.20,-6.41,1.17,7.82,-4.76,-6.41,0.73,...,5.73,-6.70,1.99,2.62,-0.49,3.45,3.20,-0.53,-0.53,-2.96
2,NaN,NaN,NaN,NaN,0.73,NaN,5.53,3.25,NaN,NaN,...,NaN,NaN,NaN,NaN,3.16,NaN,NaN,NaN,NaN,NaN
3,0.34,-6.55,2.86,NaN,-3.64,1.12,5.34,2.33,NaN,2.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,9.13,NaN,-9.32,-2.04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23495,-9.95,4.85,-9.95,-8.25,1.41,-1.75,3.11,3.79,-7.38,-5.92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23496,-0.78,1.31,-2.09,-0.78,4.71,0.19,3.06,-1.31,-9.76,9.13,...,0.29,-0.92,0.53,2.14,2.48,1.02,2.57,1.02,-0.29,0.78
23497,NaN,NaN,NaN,NaN,6.12,NaN,5.78,-5.53,NaN,7.72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23498,1.02,2.77,7.09,0.05,1.26,1.41,2.62,0.49,5.19,6.55,...,7.82,1.07,4.27,3.35,0.63,2.38,2.62,2.57,1.94,3.98
23499,NaN,NaN,NaN,NaN,9.17,NaN,-9.90,2.48,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN