In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Problem 3: Clustering senators

In this problem, you will employ the voting records of the 114th Congress to partition Senators into clusters.

In [5]:
url = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Practice/master/Data/114_congress.csv'
data = pd.read_csv(url)
data.head()

,name,party,state,00001,00004,00005,00006,00007,00008,00009,00010,00020,00026,00032,00038,00039,00044,00047
0,Alexander,R,TN,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
1,Ayotte,R,NH,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,Baldwin,D,WI,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0
3,Barrasso,R,WY,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
4,Bennet,D,CO,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

The data encompasses all the votes from the 114th Senate. Each row includes the voting record of an individual senator, with votes represented as 0 for 'No', 1 for 'Yes', and 0.5 for 'Abstain'.

In [18]:
# feature matrix X
X = data.drop(['name','party','state'],axis=1).to_numpy()
# vector with party affiliation
party = data['party'].to_numpy()
# senators names
names = data['name'].to_numpy()

**Part 1:**  Use k-means to split the senators into two clusters. Do the two clusters correspond to the two parties?

**Part 2:** Find the senators that are in the cluster associated with the opposite party.

**Part 3:** More clusters could potentially reveal the different wings within each party, or cross-party groups. To explore this, employ k-means to partition the Senators into five clusters and examine the two Democratic factions