## Problem 3: Adding polynomial features

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
# load the auto-mpg dataset
url = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Theory/master/Data/auto.csv'
data = pd.read_csv(url)
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
387,27.0,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl
388,44.0,4,97.0,52.0,2130.0,24.6,82,2,vw pickup
389,32.0,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage
390,28.0,4,120.0,79.0,2625.0,18.6,82,1,ford ranger
391,31.0,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10

The data concerns city-cycle fuel consumption in miles per gallon (mpg).

**Part 1:** Fit a model

$$
\mathrm{mpg} = \theta_0 + \theta_1\cdot \mathrm{weight}
$$

to the data.

Plot the data points and the fitted model

**Part 2:** Fit a model

$$
\mathrm{mpg} = \theta_0 + \theta_1\cdot \mathrm{weight} + \theta_2\cdot \mathrm{weight}^2
$$

to the data.

Plot the data points and the fitted model

**Part 3:** Fit a model

$$
\mathrm{mpg} = \theta_0 + \theta_1\cdot \mathrm{weight} + \theta_2 \cdot \mathrm{horsepower}
$$

to the data.

Plot the data points and the fitted model

**Part 3:** Fit a model

$$
\mathrm{mpg} = \theta_0 + \theta_1\cdot \mathrm{weight} + \theta_2\cdot\mathrm{horsepower} + \theta_3\cdot\mathrm{weight}^2
+ \theta_4\cdot\mathrm{weight}\cdot\mathrm{horsepower} + \theta_5\cdot\mathrm{horsepower}^2
$$

to the data.

Plot the data points and the fitted model