In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Problem 7: predicting New York City energy production

In [3]:
# load nyc energy data
url = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Theory/master/Data/nyc_energy.csv'
data = pd.read_csv(url,index_col='DATE',parse_dates=True)
data

             AWND  PRCP  SNOW  TAVG  day_of_week  month  holiday         LOAD
DATE
2018-01-01  17.67  0.00   0.0    12            0      1      1.0  1719.182034
2018-01-02  15.66  0.00   0.0    18            1      1      0.0  1764.714815
2018-01-03   8.28  0.00   0.0    21            2      1      0.0  1699.275172
2018-01-04  28.19  0.49   8.0    25            3      1      0.0  1722.843750
2018-01-05  25.05  0.00   0.0    15            4      1      0.0  1773.566997
...           ...   ...   ...   ...          ...    ...      ...          ...
2019-12-27   8.05  0.00   0.0    48            4     12      0.0  1358.152740
2019-12-28   8.50  0.00   0.0    47            5     12      0.0  1279.878125
2019-12-29   6.49  0.36   0.0    41            6     12      0.0  1308.771379
2019-12-30  18.79  0.50   0.0    42            0     12      0.0  1380.730392
2019-12-31  11.41  0.00   0.0    40            1     12      0.0  1340.607534

[730 rows x 8 columns]

**Column descriptions:**

| column | description |
| :-- | --: |
| LOAD (**target vector**) | average electricity produced (in Watts) in New York City (CAPITAL zone)  |
| AWND | Average wind speed |
| PRCP | Precipitation |
| SNOW | Snowfall |
| SNWD | Snow depth |
| TAVG | Average Temperature |
| day_of_week | 0 (Mon), 1 (Tue), 2 (Wed), etc |
| month | 1 (Jan), 2 (Feb), 3 (Mar), etc |
| holiday | 1 (national holiday), 0 (no holiday)|

Your goal is to fit a linear regression model to this data to predict the energy produced on a given day (column `LOAD`), using the remaining variables.