In [7]:
import numpy as np

# Intro to Object Oriented Programming

In this Jupyter notebook, we're going to introduce the concept of Object Oriented Programming.

A `Class` is what we need to create an object

The `__init__` is a special method that automatically runs when an instance of the class is created.
We can use `__init__` to specify anything that we want to happen when the object is initialized.

In [2]:
class Person:
    
    def __init__(self, person_age, person_name):
        
        # name and age 
        self.name = person_name
        self.age = person_age

The `__init__` method has three arguments: `self`, `person_age`, and `person_name`.

`self` is the instance itself.
We will use `self.` to create and access an object's attributes from within the class.

Each instance of the Person class has `age` and `name` data attributes.

In [37]:
# instantiate the Person object
p1 = Person(35, 'Javier')

In [5]:
p1.name

'Javier'

In [38]:
p1.age

35

We can add other methods

In [41]:
class Person:
    
    def __init__(self, person_age, person_name):
        
        # name and age 
        self.name = person_name
        self.age = person_age
        
        # location
        self.x = np.random.randn()
        self.y = np.random.randn()
        
    def change_name(self, new_name):
        self.name = new_name
        
    def add_year(self):
        self.age = self.age+1
        
    def move(self, step_size=0.1):
        self.x = self.x + step_size*np.random.randn()
        self.y = self.y + step_size*np.random.randn()
        
    def print_location(self):
        x = str(np.round(self.x,2))
        y = str(np.round(self.y,2))
        print(self.name+' location is ('+x+','+y+')')

In [42]:
p1 = Person(35, 'Javier')

In [43]:
p1.name

'Javier'

In [44]:
p1.change_name('Javi')

In [45]:
p1.name

'Javi'

In [46]:
p1.print_location()

Javi location is (0.66,1.05)

In [47]:
p1.move()

In [48]:
p1.print_location()

Javi location is (0.62,1.18)

In [49]:
p1.move()

In [50]:
p1.print_location()

Javi location is (0.75,1.01)

In [51]:
p1.age

35

In [52]:
p1.add_year()

In [53]:
p1.age

36

## Creating a Child Class (Inheritance)

When we create a child class, it inherits the attributes from the parent class. 
However, we are free to add or override these attributes.

Letâ€™s create a new class called `MarriedPerson`. 
It will be the child class of `Person`.
In addition to the `Person` attributes, it will have spouse name and number of children attributes.

In [66]:
class MarriedPerson(Person):
    
    def __init__(self, person_age, person_name, person_spouse, n_children):
        self.spouse = person_spouse
        self.children =  n_children
        
        Person.__init__(self,person_age,person_name)

Two important points here:

- The name of the parent class in written in parenthesis so that python knows the MarriedPerson class inherits all attributes of the Person class.
- Since the age, name, x and y attributes have already been defined in the Person class, we can just copy the __init__ method of the Person class. We just need to define the additional attributes.

In [67]:
p2 = MarriedPerson(35, 'Javier','Elizabeth',0)

In [68]:
p2.spouse

'Elizabeth'

In [69]:
p2.age

35

In [70]:
p2.print_location()

Javier location is (0.05,0.89)