# Leukemia Diagnosis

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [30]:
url = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Theory/master/Data/leukemia.csv'
data = pd.read_csv(url)
data.head(1)

,gene 0,gene 1,gene 2,gene 3,gene 4,gene 5,gene 6,gene 7,gene 8,gene 9,...,gene 16054,gene 16055,gene 16056,gene 16057,gene 16058,gene 16059,gene 16060,gene 16061,gene 16062,label
0,-73.0,-69.0,-48.0,13.0,-86.0,-147.0,-65.0,-71.0,-32.0,100.0,...,352.0,-67.0,121.0,-5.0,-11.0,-21.0,-41.0,-967.0,-120.0,1

In [31]:
X_train = data.iloc[:,0:16063].to_numpy()
y_train = data['label'].to_numpy()

In [32]:
y_leuk_train = np.zeros(len(y_train))
y_leuk_train[y_train==9] = 1

In [33]:
url = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Theory/master/Data/leukemia_test.csv'
data = pd.read_csv(url)
data.head(1)

,gene 0,gene 1,gene 2,gene 3,gene 4,gene 5,gene 6,gene 7,gene 8,gene 9,...,gene 16054,gene 16055,gene 16056,gene 16057,gene 16058,gene 16059,gene 16060,gene 16061,gene 16062,label
0,-44.0,-254.0,-166.0,-55.0,-130.0,-133.0,80.0,-62.0,1.0,22.0,...,715.0,25.0,47.0,-270.0,-265.0,-290.0,-235.0,-826.0,-262.0,1

In [35]:
X_test = data.iloc[:,0:16063].to_numpy()
y_test = data['label'].to_numpy()

## Regularized regression

In [15]:
# no regularization; the matrix X.T.dot(X) is not invertible

In [17]:
M = X_train.T.dot(X_train)
M.shape

(16064, 16064)

In [21]:
b = X_train.T.dot(y_leuk_train)

In [22]:
theta = np.linalg.solve(M,b)

LinAlgError: Singular matrix

In [39]:
# regularized regression
C = 1e-4
theta = np.linalg.solve(X_train.T.dot(X_train)+C*np.identity(16063),X_train.T.dot(y_leuk_train))

In [40]:
y_leuk_test = np.zeros(len(y_test))
y_leuk_test[y_test==9] = 1

In [41]:
y_leuk_test_pred = X_test.dot(theta)

In [42]:
y_leuk_test_pred[y_leuk_test_pred>=0.5] = 1
y_leuk_test_pred[y_leuk_test_pred<0.5] = 0

In [43]:
'confusion matrix'
C = np.zeros((2,2))
for i in range(2):
    for j in range(2):
        C[i,j] = sum(y_leuk_test_pred[y_leuk_test==i]==j)

In [44]:
C

array([[48.,  0.],
       [ 1.,  5.]])