In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Problem 3: Predicting Earnings from Census Data

The file *census.csv* contains 1994 census data for 31,978 individuals in the United States.

In [2]:
data = pd.read_csv('census.csv')
data.head(1)

,age,workclass,education,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,nativecountry,over50k
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K

In [3]:
data.over50k

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
31973     <=50K
31974      >50K
31975     <=50K
31976     <=50K
31977      >50K
Name: over50k, Length: 31978, dtype: object

**Data Description**

| Feature | Description |
| :- | -: |
| age | the age of the individual in years |
| workclass | the classification of the individual's working status (does the person work for the federal government, work for the local government, work without pay, and so on) |
| education | the level of education of the individual (e.g., 5th-6th grade, high school graduate, PhD, so on) |
| maritalstatus | the marital status of the individual |
| occupation | the type of work the individual does (e.g., administrative/clerical work, farming/fishing, sales and so on) |
| relationship | relationship of individual to his/her household |
|race | the individual's race |
| sex | the individual's sex |
| capitalgain | the capital gains of the individual in 1994 (from selling an asset such as a stock or bond for more than the original purchase price) |
| capitalloss | the capital losses of the individual in 1994 (from selling an asset such as a stock or bond for less than the original purchase price) |
| hoursperweek | the number of hours the individual works per week |
| nativecountry | the native country of the individual |
| over50k | whether or not the individual earned more than $50,000 in 1994 |

**workclass**

In [9]:
data.workclass.unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [17]:
dic = {' State-gov': 0,
 ' Self-emp-not-inc': 1,
 ' Private': 2,
 ' Federal-gov': 3,
 ' Local-gov': 4,
 ' ?': 5,
 ' Self-emp-inc': 6,
 ' Without-pay': 7,
 ' Never-worked': 8}

In [15]:
data.workclass = data.workclass.map(dic)

**education**

In [16]:
data.education.unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' 7th-8th', ' Doctorate',
       ' Assoc-voc', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [ ]:
dic = {
    ' Preschool': 0
    ' 1st-4th' : 1,
    ' 5th-6th' : 2,
    ' 7th-8th' : 3,
    ' 9th' : 4,
    ' 10th' : 5,
    ' 11th' : 6,
    ' 12th' : 7,
    ' HS-grad' : 8
}

**maritalstatus**

In [20]:
data.maritalstatus.unique()

array([' Never-married', ' Married-civ-spouse', ' Divorced',
       ' Married-spouse-absent', ' Separated', ' Married-AF-spouse',
       ' Widowed'], dtype=object)